<form class="navbar-form navbar-center" role="create">
  <div class="form-group">
    <input id="text-new-task" type="text" class="form-control" placeholder="タスク名を入力してください">
    <button id="button-create-task" type="submit" class="btn btn-default">登録</button>
  </div>
</form>
