<%if(tasks.size()){%>
  <table id="task-list" class="table table-striped">
    <tr>
      <th></th>
      <th data-sort-key="id"><span>ID<a href="" data-sort-type="dsc">▼</a><a href="" data-sort-type="asc">▲</a></span></th>
      <th data-sort-key="title"><span>タイトル<a href="" data-sort-type="dsc">▼</a><a href="" data-sort-type="asc">▲</a></span></th>
      <th data-sort-key="status"><span>ステータス<a href="" data-sort-type="dsc">▼</a><a href="" data-sort-type="asc">▲</a></span></th>
      <th></th>
    </tr>
    <!-- child content will be rendered here -->
  </table>
  <%if(tasks.selected_any()){%>
    <div class="btn-delete-selected <%= tasks.selected_any()? 'display':''%>">
      <input id="delete-selected" class="btn btn-danger" value="選択したタスクを一括削除する" />
    </div>
  <%}%>
<%}%>

