<td width="5%" class="checkbox_select"><input type="checkbox" <%= task.get('selected')?'checked':''%> /></td>
<td class="id" width="10%">
  <%= task.escape('id') %>
</td>
<td class="title" width="65%">
  <div class="view">
    <%= task.escape('title') %>
  </div>
  <div class="edit">
    <input type="text" value="<%= task.escape('title') %>" >
  </div>
</td>
<td class="status" width="15%">
  <div class="view">
    <%= task.status_display() %>
  </div>
  <div class="edit">
    <select class="span10">
      <% _.each(Todo.Models.Task.STATUSES,function (v, k){ %>
      <option value="<%= k %>" <%= k == task.get('status') ? "selected" : "" %> ><%= v %></option>
      <% }); %>
    </select>
  </div>
</td>
<td width="5%">
  <a class="delete"></a>
</td>
